{% extends "base.html" %}

{% block title %}Future Support | Faithful{% endblock %}

{% block content %}

<section class="future-support">

    <h1>Future Faith Support</h1>

    <p>
        Faithful is being designed to support many religions.
    </p>

    <ul>
        <li>Christianity</li>
        <li>Judaism</li>
        <li>Hinduism</li>
        <li>Buddhism</li>
        <li>Sikhism</li>
        <li>Additional faith communities</li>
    </ul>

    <p>
        These features will be added in future releases.
    </p>

</section>

{% endblock %}
